<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.servicesample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".stringee.activity.OutgoingCallActivity">
        </activity>
        <activity android:name=".stringee.activity.IncomingCallActivity">
        </activity>
<!--        <service-->
<!--            android:name=".stringee.notify.PushNotifyServiceIdStringee"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->
<!--        <service-->
<!--            android:name=".stringee.notify.PushNotifyMesssageStringee">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->

        <service
            android:name=".stringee.notify.PushNotifyMesssageStringee"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".stringee.notify.PushNotifyServiceIdStringee"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".ServiceSample" android:enabled="true"/>
        <service android:name=".stringee.service.StringeeService"
            android:enabled="true"
            android:exported="true"
            android:label="StringeeService"/>
        <receiver android:name=".stringee.receive.TransferServiceReceiver" android:exported="true">
            <intent-filter>
                <action android:name="service.Broadcast"/>
            </intent-filter>
            <intent-filter>
                <action android:name="main.Broadcast"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".stringee.receive.RestartServiceReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.REBOOT"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>